<%- include('../includes/head.ejs') %>

    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <%- include('../includes/end.ejs') %>

        <main>

        <% if (productList.length > 0) { %>
            <table>
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Total</th>
                    <th> </th>
                  </tr>
                <% for (let product of productList) { %>
                    <tr>
                        <td><%=product.name%></td>
                        <td><%=product.price%></td>
                        <td><%=product.qty%></td>
                        <td><%=product.price*product.qty%></td>
                        <td>
                            <a href="/cart/delete-product?id=<%= product.id %>" class="btn">Delete</a>
                        </td>
                      </tr>
                <% } %>
            </table>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>